.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.433);
  border-radius: 5%;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 280px;
  border: 2px solid darkblue;
}

.button {
  align-self: flex-end;
  background-color: rgb(255, 65, 65);
  border-radius: 50%;
  color: aliceblue;
}

.Text {
  color: rgb(74, 125, 125);
  -webkit-text-stroke: 2px yellowgreen;
}

.img {
  display: flex;
  justify-content: center;
  width: 80%;
  border-radius: 50px;
}
