.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Search {
  display: flex;
  flex-direction: column;
  outline: none;
  border-radius: 20%;
  box-sizing: border-box;
  height: 40px;
  width: 200px;
  padding: 0 20px;
}

.button {
  border-radius: 20%;
  color: rgb(11, 25, 25);
}
