.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgba(44, 93, 115, 0.836);
  border-radius: 5%;
  margin: 5%;
  width: 90%;
  border: 2px solid rgb(219, 235, 148);
}

.texto {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.Text {
  color: rgb(44, 92, 115);
  -webkit-text-stroke: 1px rgb(219, 235, 148);
}

.img {
  padding: 5%;
  display: flex;
  align-self: flex-start;
  width: 280px;
  border-radius: 50px;
}
