.container {
  display: flex;
  width: 100%;
  background-color: rgba(48, 47, 51, 0.399);
  flex-flow: row wrap;
  justify-content: space-between;
}

.title {
  display: flex;
  width: 300px;
}

.navegador {
  display: flex;
  align-self: center;
  width: 300px;
  justify-content: space-evenly;
}

.search {
  display: flex;
  width: 300px;
}
.button {
  background-color: rgb(37, 135, 129);
  color: aliceblue;
  border: 2px solid rgb(89, 254, 229);
  border-radius: 5px;
  height: 40px;
  width: 80px;
  margin: 5px;
  font-size: larger;
}

.linea {
  color: yellowgreen;
}
.nav {
  display: flex;
  align-self: center;
  text-decoration: none;
}
